{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    {% include 'base.html' %}
    {% block content %}
    <section id="home" class="center-section">
        <h1 class="homeh1" style="font-size: 40px; ">Welcome to Our Employee Query Management System</h1>
        <div class="button-container">
            <button class="homepage-btn" ><a href="{% url 'register' %}">Register</a></button>
            <button class="homepage-btn"><a href="{% url 'login' %}">Login</a></button>
        </div>
    </section> 
</main>

    {% endblock %}
    {% include 'footer.html' %}

</body>
</html>